<%= form_for :project, url: project_path(@project.id), method: :put do |f| %>
    <div class="row">
      <div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">

        <div class="row">
          <div class='form-element'>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <%= f.label t('project.edit.basic.project_image') %>
            </div>

            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
              <div class="attachment_upload
                <% if @project.image.exists? %>has_file
                <% end %>">
                <div class="error">
                  <div class="message"></div>
                </div>
                <div class="success text-center">
                  <% if @project.image.exists? %>
                      <%= image_tag @project.image.url(:large) %>
                  <% end %>
                </div>
                <div class="upload">
                  <%= f.file_field :image, autofocus: false, class: 'fileupload', 'data-upload-url' => '/projects/' + @project.slug + '/upload_image' %>
                  <strong class="text-center">
                    <%= t("project.edit.basic.choose_image_from_your_computer") %>
                    <span class="has_file_hide">This is the main image associated with your project. Make it count!</span>
                    <span><%= t("project.edit.basic.support_image_file_formats") %></span>
                  </strong>

                  <div class="progress">
                    <div class="inner">
                      <div class="bar">
                        <div class="percentage"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class='form-element'>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <%= f.label t('project.edit.basic.project_title') %><br/>
            </div>

            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
              <%= f.text_field :title, class: 'form-control' %>

            </div>
          </div>

          <div class='form-element'>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <%= f.label t('project.edit.basic.short_description') %>
            </div>

            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
              <%= f.text_area :short_description, class: 'form-control', :rows => "4" %>

            </div>
          </div>

          <div class='form-element'>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <%= f.label t('project.edit.basic.category') %>
            </div>

            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
              <%= f.select :category_id, options_for_select(@categories.map { |c| [c.name, c.id] }, @project.category_id), {:include_blank => false}, {class: 'form-control'} %>

            </div>
          </div>

          <div class='form-element'>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <%= f.label t('project.edit.basic.location') %>
            </div>

            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
              <%= f.select :location, options_for_select(@cities.map { |city| city.name }, @project.location), {:include_blank => false}, {class: 'form-control'} %>

            </div>
          </div>

          <div class='form-element'>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <%= f.label t('project.edit.basic.duration') %>
            </div>

            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
              <% if @project.initiating? %>
                  <ul class="options">
                    <li class="option <%= "selected" if @project.duration_type == "duration" %>">
                  <span class="select">
                    <%= f.radio_button :duration_type, "duration", id: "duration_duration" %>
                    <label for="duration_duration">Tổng thời gian (ngày)</label>
                  </span>
                  <span class="value">
                    <%= f.text_field :duration, class: 'form-control' %>
                  </span>
                    </li>
                    <li class="option <%= "selected" if @project.duration_type == "deadline" %>">
                  <span class="select">
                    <%= f.radio_button :duration_type, "deadline", id: "duration_deadline" %>
                    <label for="duration_deadline">Ngày kết thúc</label>
                  </span>
                  <span class="value">
                    <%= f.text_field :deadline, class: 'form-control', value: @project.deadline.strftime("%d-%m-%Y %H:%M"), id: 'deadline' %>
                    <div class="datetimepicker" data-target="#deadline"></div>
                  </span>
                    </li>
                  </ul>
              <% else %>
                  <strong>
                    Kết thúc vào <b></b>. Tổng thời gian gây vốn là <b><%= @project.duration %></b> ngày
                  </strong>
              <% end %>
            </div>
          </div>
          <div class='form-element'>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <%= f.label t('project.edit.basic.funding_goal') %>
            </div>

            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
              <% if @project.initiating? %>
                  <%= f.text_field :funding_goal, class: 'form-control currency' %>
              <% else %>
                  <strong><%= number_to_currency(@project.funding_goal, precision: 0) %></strong>
              <% end %>

            </div>
          </div>

        </div>
      </div>

    </div>
<% end %>

