<%= form_for :project, url: project_path(@project), method: :put do |f| %>
    <div class="title-block clearfix">
      <h3 class="h3-body-title">Thêm ảnh và những thông tin cơ bản về dự án của bạn</h3>

      <div class="title-seperator"></div>

    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

        <div class="row">
          <div class='form-element'>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <%= f.label t('project.edit.basic.project_image') %>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <div class="attachment_upload <% if @project.image.exists? %>has_file<% end %>">
                  <div class="success text-center">
                    <% if @project.image.exists? %>
                        <%= image_tag @project.image.url(:medium) %>
                    <% end %>
                  </div>
                  <div class="upload">
                    <%= f.file_field :image, autofocus: false, class: 'fileupload', 'data-upload-url' => '/projects/' + @project.slug + '/upload_image' %>
                    <strong class="text-center">
                      <%= t("project.edit.basic.choose_image_from_your_computer") %>
                      <span class="has_file_hide">This is the main image associated with your project. Make it count!</span>
                      <span><%= t("project.edit.basic.support_image_file_formats") %></span>
                    </strong>
                    <div class="progress">
                      <div class="inner">
                        <div class="bar">
                          <div class="percentage"></div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>

          <div class='form-element'>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <%= f.label t('project.edit.basic.project_title') %><br/>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <%= f.text_field :title, class: 'form-control' %>

            </div>
          </div>

          <div class='form-element'>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <%= f.label t('project.edit.basic.short_description') %>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <%= f.text_area :short_description, class: 'form-control' %>

            </div>
          </div>

          <div class='form-element'>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <%= f.label t('project.edit.basic.category') %>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <%= f.select :category_id, options_for_select(@categories.map { |c| [c.name, c.id] }, @project.category_id), {:include_blank => false}, {class: 'form-control'} %>

            </div>
          </div>

          <div class='form-element'>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <%= f.label t('project.edit.basic.location') %>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <%= f.select :location, options_for_select(@cities.map { |city| city.name }, @project.location), {:include_blank => false}, {class: 'form-control'} %>

            </div>
          </div>

          <div class='form-element'>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <%= f.label t('project.edit.basic.duration') %>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <ul class="options">
                <li class="option number-of-days">
                  <label class="option_label" for="duration_duration"><input class="radio" id="duration_duration" name="duration" type="radio" value="duration">
                    <strong>Number of days</strong></label><em class="rec">1−60 days, we recommend 30 or less</em><span><input class="text" id="project_duration" length="3" name="project[duration]" size="3" type="text"></span>
                </li>
                <li class="option disabled date-time">
                  <label class="option_label" for="duration_deadline"><input checked="checked" class="radio" id="duration_deadline" name="duration" type="radio" value="deadline">
                    <strong>End on date &amp; time</strong></label>
                </li>
              </ul>
            </div>
          </div>
          <div class='form-element'>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <%= f.label t('project.edit.basic.funding_goal') %>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <%= f.text_field :funding_goal, class: 'form-control' %>

            </div>
          </div>

        </div>


      </div>

    </div>

<% end %>

