<%= form_for([@project, @project.rewards.build]) do |f| %>
    <div class="title-block clearfix">
      <h3 class="h3-body-title">Phần quà bạn sẽ tặng nhà đầu tư khi họ góp vốn.</h3>

      <div class="title-seperator"></div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

        <div class="row" id='reward-form'>


          <div class='form-element'>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              Phần thưởng 1
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 reward">

              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                  <%= f.label :minimum_pledge_amount %>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                  <%= f.text_field :minimum_pledge_amount, class: 'form-control' %>
                </div>
                <br>
                <br>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                  <%= f.label :description %>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                  <%= f.text_area :description, class: 'form-control' %>
                </div>
                <br>
                <br>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                  <%= f.label :limit_quantity %>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                  <%= f.text_area :limit_quantity, class: 'form-control' %>
                </div>
              </div>


            </div>


          </div>


        </div>
        <button type="button" id='add-reward' class="btn btn-success">+Thêm 1 phần quà</button>


      </div>
    </div>

<% end %>