<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

    <div class="rewards">
      <% @project.rewards.each_with_index do |reward, index| %>
          <div class='form-element'>
            <div class="reward" data-reward-id="<%= reward.id %>">
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                Phần thưởng <%= (index + 1) %>
              </div>
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <a class="btn btn-danger pull-right delete"><i class="fa fa-times"></i></a>
                <h3>
                  Góp <b><%= number_to_currency(reward.minimum_pledge_amount, precision: 0) %></b> hoặc nhiều
                  hơn
                </h3>
                <p><%= reward.description %></p>
              </div>
            </div>
          </div>
      <% end %>
    </div>

    <%= button_tag "Thêm phần thưởng", class: 'btn btn-info add_reward', data: {toggle: "modal", target: "#add-reward"} %>

  </div>
</div>

