<%= form_for :user, url: '/profile', method: :put do |f| %>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

        <div class="row">
          <div class='form-element'>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <label>Ảnh cá nhân</label>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <div class="attachment_upload profile-photo
                <% if @user.image.exists? %>has_file
                <% end %>">
                <div class="error">
                  <div class="message"></div>
                </div>
                <div class="success text-center table-cell">
                  <% if @user.image.exists? %>
                      <div class="image-clip">
                        <%= image_tag @user.image.url(:small) %>
                      </div>
                  <% end %>
                </div>
                <div class="upload">
                  <%= file_field_tag :image, autofocus: false, class: 'fileupload', 'data-upload-url' => '/profile/avatar' %>
                  <strong class="text-center">
                    <%= t("project.edit.basic.choose_image_from_your_computer") %>
                    <span class="has_file_hide">This is the main image associated with your project. Make it count!</span>
                    <span><%= t("project.edit.basic.support_image_file_formats") %></span>
                  </strong>

                  <div class="progress">
                    <div class="inner">
                      <div class="bar">
                        <div class="percentage"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class='form-element'>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <label>Họ và tên</label>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>

          <div class='form-element'>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <label>Đôi điều về bản thân</label>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <%= f.text_area :biology, class: 'form-control', :rows => "4" %>
            </div>
          </div>

          <div class='form-element'>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <%= f.label "Địa chỉ" %>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <%= f.select :location, options_for_select(@cities.map { |city| city.name }, @user.location), {:include_blank => true}, {class: 'form-control'} %>

            </div>
          </div>

          <div class='form-element'>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <label>Website</label>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="" placeholder="Địa chỉ">
            </div>
          </div>


        </div>

      </div>

    </div>
<% end %>