<div>
  <div class="section-guide">
    <h2>Thông tin cá nhân</h2>

    <p>
      Một trong những mục tiêu quan trọng của bất kỳ người huy động vốn nào là giành được niềm tin từ những khác. Hãy kể
      cho mọi người biết bạn là ai.
    </p>

    <p>
      Chúng tôi khuyến khích bạn liên kết tài khoàn VnStarter với tài khoản trên các mạng xã hội. Đó là cách nhanh nhất
      để người khác có thể tìm hiểu về bạn
    </p>
  </div>

  <%= form_for :user, url: '/profile', method: :put do |f| %>
      <div class='form-element'>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <label>Ảnh cá nhân</label>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div class="attachment-upload profile-photo" ng-class="{ 'has-file' : project.user.imageUrl != '' }">
            <div class="error">
              <div class="message"></div>
            </div>
            <div class="success text-center table-cell">
              <img ng-src="{{project.user.imageUrl}}" ng-title="{{project.user.name}}" />
            </div>
            <div class="upload">
              <%= file_field_tag :avatar, autofocus: false, class: 'fileupload', 'data-upload-url' => '/profile/avatar' %>
              <strong class="text-center">
                <%= t("project.edit.basic.choose_image_from_your_computer") %>
                <span class="has_file_hide">This is the main image associated with your project. Make it count!</span>
                <span><%= t("project.edit.basic.support_image_file_formats") %></span>
              </strong>

              <div class="progress">
                <div class="inner">
                  <div class="bar">
                    <div class="percentage"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='form-element'>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <label>Họ và tên</label>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <input type="text" name="name" ng-model="project.user.name" class="form-control" />
        </div>
      </div>

      <div class='form-element'>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <label>Đôi điều về bản thân</label>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div class="limit-characters">
            <textarea ng-model="project.user.biology" ng-trim="false" class="form-control" maxlength="{{biologyMaxLength}}" rows="5"></textarea>
            <p ng-bind="biologyMaxLength - project.user.biology.length + '/' + biologyMaxLength"></p>
          </div>
        </div>
      </div>

      <div class='form-element'>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <%= f.label "Địa chỉ" %>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <select name="location" ng-model="project.user.location" class="form-control">
            <option ng-repeat="city in cities" value="{{city}}" ng-bind="'{{city}}'" ng-selected="project.user.location == city"></option>
          </select>
        </div>
      </div>

      <div class='form-element'>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <label>Website</label>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <%= f.text_field :website, value: current_user.website, class: 'form-control' %>
        </div>
      </div>

      <div class="buttons-container text-right">
        <button type="button" class="btn btn-green" ng-click="saveProject()">Lưu thay đổi</button>
      </div>

  <% end %>
</div>