<div>
  <div class="section-guide">
    <h2>Câu chuyện</h2>
    <p>
      Kể cho mọi người câu chuyện đằng sau dự án của bạn, những điều thôi thúc bạn thực hiện dự án này, những khó khăn và thách thức bạn gặp phải.
    </p>
  </div>

  <%= button_tag "Thêm câu chuyện", class: 'btn btn-lg btn-info add_story', data: {toggle: "modal", target: "#add-story-post"} %>

  <div class="story-posts">
    <% @project.posts.each do |post| %>
        <div class="post" data-post-id="<%= post.id %>">

          <a class="btn btn-danger pull-right delete"><i class="fa fa-times"></i></a>

          <h3><%= post.title %></h3>

          <div class="image-container">
            <% if post.image.exists? %>
                <img src="<%= post.image.url(:medium) %>" title="<%= post.title %>"/>
                <br/>
                <br/>
            <% end %>

          </div>
          <p><%= post.body %></p>
        </div>
    <% end %>

  </div>


</div>

