<div class="modal fade" id="pledge_money">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Góp tiền cho "<%= @project.title %>"</h4>
      </div>
      <div class="modal-body">

        Chọn số tiền bạn muốn đóng góp:
        <ul class="pledge-amounts">
          <li><a href="javascript:void(0)" class="btn btn-default" data-amount="100000"><%= number_to_currency(100000, precision: 0) %></a></li>
          <li><a href="javascript:void(0)" class="btn btn-default" data-amount="200000"><%= number_to_currency(200000, precision: 0) %></a></li>
          <li><a href="javascript:void(0)" class="btn btn-default" data-amount="500000"><%= number_to_currency(500000, precision: 0) %></a></li>
          <li><a href="javascript:void(0)" class="btn btn-default" data-amount="1000000"><%= number_to_currency(1000000, precision: 0) %></a></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>

      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>