<div id="show_comments">
  <ul class="comments">
    <% @project.comments.each do |comment| %>
        <li class="comment">
          <div class="comment-content">
            <div class="user-avatar">
             <%= image_tag (comment.user.image.url(:small)), class: "circle", height: "80" %>
            </div>

            <div class="comment-details">
              <div>
                <span class="user-name"><%= comment.user.name %></span>
                <span class="comment-date">cách đây <%= time_ago_in_words(comment.created_at) %></span>
              </div>
              <div class="comment-body">
                <%= comment.body %>
              </div>
            </div>
          </div>

        </li>
    <% end %>
  </ul>

  <h3>Bình luận</h3>
  <%= form_for([@project, @project.comments.build], url: project_comments_path(@project.id)) do |f| %>
      <p>
        <%= f.text_area :body, class: 'form-control' %>
      </p>

      <p>
        <%= f.submit 'Gửi bình luận', class: 'btn btn-primary', type: 'button', id: 'add_comment' %>
      </p>
  <% end %>
</div>
