<div class="blog-span-bottom">
  <ol class="comments-list">
    <% @project.comments.each do |comment| %>
        <li class="comment">
          <div class="comment-content">
            <div class="comment-author-avatar">
            <% if comment.user.image.exists? %>
              <img src="<%= comment.user.image.url(:large) %>" title="<%= comment.body %>" alt="John Doe" class="img-responsive"/>
            <% else %>
              <img src="/images/no-image-user.png" title="<%= comment.body %>" alt="John Doe" class="img-responsive"/>
            <% end %>
              
            </div>

            <div class="comment-details">
              <div class="comment-author-name">
                <span><%= comment.user.name %></span>
                <span class="comment-date"><%= comment.created_at %></span>

              </div>
              <div class="comment-body">
                <%= comment.body %>                          </div>
            </div>
          </div>

        </li>
    <% end %>
  </ol>

  <h3>Bình luận</h3>
  <%= form_for([@project, @project.comments.build]) do |f| %>
  <input type="hidden" name="user" id='user-name' value="<%= @project.user.name %>">
      <p>
        <%= f.text_area :body, class: 'form-control' %>
      </p>

      <p>
        <%= f.submit 'Gửi bình luận', type: 'button', id: 'add-comment' %>
      </p>
  <% end %>
</div>
