<div class="blog-span-bottom">
  <ul class="comments">
    <% @project.comments.each do |comment| %>
        <li class="comment">
          <div class="comment-content">
            <div class="comment-author-avatar">
              <%= image_tag (comment.user.image.url), class: "circle avatar-small", height: "80" %>
            </div>

            <div class="comment-details">
              <div class="comment-author-name">
                <span><%= comment.user.name %></span>
                <span class="comment-date"><%= comment.created_at %></span>

              </div>
              <div class="comment-body">
                <%= comment.body %>
              </div>
            </div>
          </div>

        </li>
    <% end %>
  </ul>

  <h3>Bình luận</h3>
  <%= form_for([@project, @project.comments.build]) do |f| %>
      <p>
        <%= f.text_area :body, class: 'form-control' %>
      </p>

      <p>
        <%= f.submit 'Gửi bình luận', type: 'button', id: 'add-comment' %>
      </p>
  <% end %>
</div>
