<% page_title @project.title %>
<% body_id "project_pledge" %>
<div class="content-wrapper hide-until-loading">
  <div class="body-wrapper">
    <div class="content-head">
      <%= hidden_field_tag :slug, @project.slug %>
      <h2><%= @project.title %></h2>
      <h6 class="text-center">
        thực hiện bởi <a href="javascript:void(0);"><b><%= @project.user.name %></b></a>
      </h6>
    </div>
    <div class="project-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="main clearfix">
              <div class="col-md-8 col-sm-8">
                <%= form_for([@project, @pledge]) do |f| %>

                    <%= f.hidden_field :pledge_amount %>
                    <input type="hidden" name="slug" id="slug" value="<%= @project.slug %>"/>

                    <h2>Xin cám ơn!</h2>

                    <p>
                      Bạn đã lựa chọn góp cho dự án <b><%= @project.title %></b> số tiền

                      <span class="pledge_amount"><%= number_to_currency(@pledge.pledge_amount, precision: 0) %></span>
                    </p>
                    <% if (!@project.rewards.where("minimum_pledge_amount <= ? ", @pledge.pledge_amount).empty?) %>
                        <p>
                          Với mức đóng góp này, bạn có thể lựa chọn một trong những phần thưởng dưới đây:
                        </p>

                        <ul class="rewards">
                          <a href="javascript:void(0);" class="reward">
                            <label for="reward-0">
                              <input type="radio" checked id="reward-0" value="" name="[pledge]reward_id">
                              <strong>Không nhận</strong>
                            </label>
                            <label for="reward-0">
                                  <span>
                                    Tôi chỉ muốn đóng góp cho dự án
                                  </span>
                            </label>
                          </a>
                          <% @project.rewards.where("minimum_pledge_amount <= ? ", @pledge.pledge_amount).each do |reward| %>
                              <a href="javascript:void(0);" class="reward">
                                <label for="reward-<%= reward.id %>">
                                  <input type="radio" id="reward-<%= reward.id %>" value="<%= reward.id %>" name="[pledge]reward_id">
                                  <strong><%= number_to_currency(reward.minimum_pledge_amount, precision: 0) %></strong>
                                  trở lên
                                </label>
                                <label for="reward-<%= reward.id %>">
                                  <span>
                                    <%= reward.description %>
                                  </span>
                                </label>
                              </a>
                          <% end %>
                        </ul>
                    <% end %>
                    <div class="buttons" role="group">
                      <%= link_to 'Hủy', :back, class: 'btn btn-default' %>
                      <button type="submit" class="btn btn-primary">
                        Tôi đồng ý
                      </button>
                    </div>
                <% end %>
              </div>
              <div class="col-md-4 col-sm-4">

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pledge-confirmation">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Cảm ơn</h4>
      </div>
      <div id='thank-modal-body' class="modal-body">
        Đóng góp của bạn đã được ghi nhận. Xin cám ơn
      </div>
      <div class="modal-footer">
        <a id='back-to-project' href='/' class="btn btn-primary">Trở lại trang chủ</a>
        <a id='back-to-project' href='<%=project_path(@project)%>' class="btn btn-primary">Trở lại trang dự án</a>
      </div>
    </div>
  </div>
</div>
</div>