<header id="header">
  <div class="top-bar">
    <div class="slidedown collapse in" aria-expanded="true">
      <div class="container">
        <div class="phone-email pull-left">
          <a><i class="fa fa-phone"></i> Liên hệ chúng tôi : +84 (0) 98 339 0696</a>
          <a href="support@fifothemes.com"><i class="fa fa-envelope"></i> Email : info@vnstarter.vn

          </a>
        </div>
        <div class="follow-us pull-right">
          <ul class="social pull-left">
            <li class="facebook"><a style="cursor: pointer;"><i class="fa fa-facebook"></i></a></li>
            <li class="linkedin"><a style="cursor: pointer;"><i class="fa fa-linkedin"></i></a></li>
            <li class="rss"><a style="cursor: pointer;"><i class="fa fa-rss"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="main-bar">
    <div class="container">

      <div class="row header">
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 logo">
          <h1>
            <a href="/">
              <img src="/images/logo.png" alt="VnStarter" width="125">
            </a>
          </h1>
        </div>

        <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">

          <!-- Left hand side navigation -->
          <nav class="menu pull-left">
            <ul>
              <li>
                <a href="/projects/new">Huy động vốn</a>
              </li>
              <li>
                <a href="/discover">Góp vốn</a>
              </li>
            </ul>
          </nav>

          <!-- Right hand side navigation -->
          <nav class="menu pull-right">
            <ul class="user-menu navigation">
              <% if (!user_signed_in?) %>
                  <li>
                    <a href="/users/sign_up">Đăng ký</a>
                  </li>
                  <li>
                    <a href="/users/sign_in">Đăng nhập</a>
                  </li>
              <% else %>
                  <li class="has-user">
                    <%= hidden_field_tag :user_name, current_user.name %>
                    <%= hidden_field_tag :user_image_url, current_user.image.url %>
                    <a>
                      <%= image_tag current_user.image.url(:small), class: "circle" %>
                      <span class="sf-sub-indicator">
                           <i class="fa fa-angle-down "></i>
                    </span>
                    </a>

                    <div class="user-dropdown">
                      <div class="user-menu-header">
                        <h5><%= current_user.name %></h5>
                      </div>
                      <ul class="options">
                        <li>
                          <label><%= link_to "Dự án đã tạo", profile_projects_path %></label>
                        </li>
                        <li>
                          <label><%= link_to "Tin nhắn", profile_messages_path %></label>
                        </li>
                        <li>
                          <label><%= link_to "Thông tin cá nhân", profile_path %></label>
                        </li>
                        <li>
                          <label><%= link_to "Đăng xuất", destroy_user_session_path %></label>
                        </li>
                      </ul>
                    </div>
                  </li>
              <% end %>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>
</header>