<header id="header" class='menu'>
  <div class="container">

    <div class="row header">

      <div class="col-xs-2 logo">
        <a href="/">
          <img src="/images/main_logo.png" alt="Logo"/>
        </a>
      </div>

      <div class="col-md-10">
        <nav class="pull-left">
          <ul class="main-menu navigation">
            <li>
              <a href="/projects/new">Tạo dự án</a>
            </li>
            <li>
              <a href="/discover">Góp vốn</a>
            </li>
          </ul>
        </nav>

        <nav class="pull-right">
          <ul class="user-menu navigation">
            <% if (!user_signed_in?) %>
                <li>
                  <a href="/users/sign_up">Đăng ký</a>
                </li>
                <li>
                  <a href="/users/sign_in">Đăng nhập</a>
                </li>
            <% else %>
                <li class="has-user">
                  <%= hidden_field_tag :user_name, current_user.name %>
                  <%= hidden_field_tag :user_image_url, current_user.image.url %>
                  <a>
                    <%= image_tag current_user.image.url(:small), class: "circle" %>
                    <span><i class="fa fa-sort-desc"></i></span>
                  </a>
                  <div class="user-dropdown">
                    <div class="user-options clearfix">
                      <p class="welcome">
                        Xin chào <b><%= current_user.name%></b>
                      </p>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label>Kanzi của tôi</label>
                        <ul class="options">
                          <li><a href="">Tin nhắn</a></li>
                          <li><%= link_to "Thông tin cá nhân", profile_path %></li>
                          <li><a href="">Dự án đã góp vốn</a></li>
                          <li><%= link_to "Dự án đã tạo", profile_projects_path %></li>
                          <li><%= link_to "Đăng xuất", destroy_user_session_path %></li>
                        </ul>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <label>Dự án đã tạo</label>
                      </div>
                    </div>
                    <div class="user-footer">

                    </div>
                  </div>
                </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>