
<div class="rev-slider-full">
        <div class="rev-slider-banner-full  rev-slider-full">
            <ul>

                <li  data-transition="slideright" data-slotamount="14">

                    <img src="<%= image_path('media/rev-images/rev-full5.jpg') %>" alt="Rev Full5">

                    <div class="caption sfb" data-x="0" data-y="100" data-speed="700" data-start="0"
                    data-easing="easeOutBack">
                    <img src="<%= image_path('media/rev-images/sea-ipad.png') %>" alt=""/>
                </div>
                <div class="caption fadeout fade" data-x="86"  data-y="146"
                data-speed="700" data-start="1000"  data-nextslideatend="true">
                <!--                    <img src="images/placeholders/rev-full2-ipad.jpg" alt=""/>-->
                <iframe src="http://www.youtube.com/embed/mcw6j-QWGMo?hd=1&amp;wmode=opaque&amp;controls=0&amp;showinfo=0" width="326" height="255" style='border: 0; frameborder:"0"'></iframe>
            </div>
            <div class="tp-caption big_white large_text sft"  data-x="540" data-y="170" data-start="0" data-easing="easeOutBack" >
                Nhà đầu tư & người có ý tưởng
            </div>
            <div class="tp-caption  revolution-subtext  sfb "  data-x="570" data-y="250" data-start="0" data-easing="easeOutBack" >
                <a href="project-list.html" class="button btn-flat">
                    Đầu tư ngay
                </a>
                &nbsp;
                <%= link_to 'Tạo dự án',new_project_path,class: 'button btn-flat' %>
                

            </div>

            <div class="tp-caption fade"  data-x="760" data-y="340" data-start="1000" data-easing="easeOutBack">

            </div>
        </li>





    </ul>
    <div class="tp-bannertimer tp-bottom"></div>
</div>
</div>

<div class="body-wrapper">   


  <div class="">
      <div class="row menu">                    

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

        </div>

        <div class="col-md-2 col-sm-2">
         <div class="content-box content-style2">
            <a href="#buyer" class="smoothScroll"><h4 class="h4-body-title">

                Nhà đầu tư
            </h4></a>
            <div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
            data-animdelay="0.2s">

            <a href="#" class="read-more"> 

                <i class="icon-chevron-right"></i>            
            </a>
        </div>
    </div>
</div>


<div class="col-md-2 col-sm-2">
    <div class="content-box content-style2">
        <a href="#highlight-project" class="smoothScroll" ><h4 class="h4-body-title">

            Dự án

        </h4></a>
        <div class="content-box-text animated" data-animtype="fadeInDown" data-animrepeat="0"
        data-animdelay="0.6s">
        <a href="#" class="read-more"> 

          <i class="icon-chevron-right"></i>            
      </a>
  </div>
</div>
</div>
<script>
    $(document).ready(function($) {
            // Create a clone of the menu, right next to original.
            $('.menu').addClass('original').clone().insertAfter('.menu').addClass('cloned').css('position','fixed').css('top','0').css('margin-top','0').css('z-index','500').removeClass('original').hide();

            scrollIntervalID = setInterval(stickIt, 10);


            function stickIt() {

              var orgElementPos = $('.original').offset();
              orgElementTop = orgElementPos.top;               

              if ($(window).scrollTop() >= (orgElementTop)) {
    // scrolled past the original position; now only show the cloned, sticky element.

    // Cloned element should always have same left position and width as original element.     
    orgElement = $('.original');
    coordsOrgElement = orgElement.offset();
    leftOrgElement = coordsOrgElement.left;  
    widthOrgElement = orgElement.css('width');
    $('.cloned').css('left',leftOrgElement+'px').css('top',0).css('width',widthOrgElement).show();
    $('.cloned').css('background-color', '#279fbb');
    $('.cloned').css('height', '40px');
    $('#buyer')
    $('.h4-body-title').css('color', 'white');
    $('.cloned').css('padding-top', '10px');

    $('.original').css('visibility','hidden');
} else {
    // not scrolled past the menu; only show the original menu.
    $('.h4-body-title').css('color', 'black');
    $('.cloned').hide();
    $('.original').css('visibility','visible');
}
}

});
</script>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

</div>
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

</div>

</div>

<div class="space-sep40"></div>    


</div>

<div class="section-content " id='highlight-project'>
    <div class="container">
        
        <div class="row">
            <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
            data-animrepeat="0"
            data-speed="1s"
            data-delay="0.4s">
            <h2 class="h2-section-title">Nổi bật</h2>
            <div class="i-section-title">
                <i class="icon-rocket">

                </i>
            </div>
        </div>
    </div>
    <div class="space-sep20"></div>
    <div class="row">
        <div class="col-md-3 col-sm-3">
            
            <div class="feature animated" data-animtype="fadeInUp" data-animrepeat="0" data-animspeed="1s" data-animdelay="0.4s">
                <div class="feature-image img-overlay">
                    <img src="<%= image_path('media/feature1.jpg') %>" alt="Blog">

                    <div class="item-img-overlay">
                        <a class="portfolio-zoom fa fa-plus" href="media/blog1.jpg"
                        data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>

                    </div>

                </div>

                <div class="feature-content">
                    <h3 class="h3-body-title blog-title">
                        <a href="#">Vix sumo ferri an</a>
                    </h3>
                    <p>
                        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a [...]
                    </p>

                    <p><span class="fa fa-map-marker"></span>&nbsp;Hà nội</p>    
                    <div class="progress">
                        <div class="progress-bar animated" role="progressbar" aria-valuenow="85%" 
                        aria-valuemin="0" aria-valuemax="100"
                        data-animtype="animate-progress"
                        data-animrepeat="0">
                    </div>
                </div>
                <span class="">2.5tr/3tr&nbsp;|Còn 2 ngày</span>
            </div>

            <div class="feature-details">
                <i class="icon-calendar"></i>
                <span>July 10, 2013</span>
                <span class="details-seperator"></span>

                <a href="#"><i class="icon-comment"></i><span>4</span></a>


                <div class="feature-share">
                    <a href="#"><i class="icon-heart"></i></a>
                    <a href="#"><i class="icon-facebook"></i></a>
                </div>
            </div>        
        </div>

    </div>
    <div class="col-md-3 col-sm-3">

        <div class="feature animated" data-animtype="fadeInUp" data-animrepeat="0" data-animspeed="1s" data-animdelay="0.4s">
            <div class="feature-image img-overlay">
                <img src="<%= image_path('media/feature1.jpg') %>" alt="Blog">

                <div class="item-img-overlay">
                    <a class="portfolio-zoom fa fa-plus" href="media/blog1.jpg"
                    data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>

                </div>

            </div>

            <div class="feature-content">
                <h3 class="h3-body-title blog-title">
                    <a href="#">Vix sumo ferri an</a>
                </h3>
                <p>
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a [...]
                </p>

                <p><span class="fa fa-map-marker"></span>&nbsp;Hà nội</p>    
                <div class="progress">
                    <div class="progress-bar animated" role="progressbar" aria-valuenow="85%" 
                    aria-valuemin="0" aria-valuemax="100"
                    data-animtype="animate-progress"
                    data-animrepeat="0">
                </div>
            </div>
            <span class="">2.5tr/3tr&nbsp;|Còn 2 ngày</span>
        </div>

        <div class="feature-details">
            <i class="icon-calendar"></i>
            <span>July 10, 2013</span>
            <span class="details-seperator"></span>

            <a href="#"><i class="icon-comment"></i><span>4</span></a>


            <div class="feature-share">
                <a href="#"><i class="icon-heart"></i></a>
                <a href="#"><i class="icon-facebook"></i></a>
            </div>
        </div>        
    </div>

</div>
<div class="col-md-3 col-sm-3">
    
    <div class="feature animated" data-animtype="fadeInUp" data-animrepeat="0" data-animspeed="1s" data-animdelay="0.4s">
        <div class="feature-image img-overlay">
            <img src="<%= image_path('media/feature1.jpg') %>" alt="Blog">

            <div class="item-img-overlay">
                <a class="portfolio-zoom fa fa-plus" href="media/blog1.jpg"
                data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>

            </div>

        </div>

        <div class="feature-content">
            <h3 class="h3-body-title blog-title">
                <a href="#">Vix sumo ferri an</a>
            </h3>
            <p>
                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a [...]
            </p>

            <p><span class="fa fa-map-marker"></span>&nbsp;Hà nội</p>    
            <div class="progress">
                <div class="progress-bar animated" role="progressbar" aria-valuenow="85%" 
                aria-valuemin="0" aria-valuemax="100"
                data-animtype="animate-progress"
                data-animrepeat="0">
            </div>
        </div>
        <span class="">2.5tr/3tr&nbsp;|Còn 2 ngày</span>
    </div>

    <div class="feature-details">
        <i class="icon-calendar"></i>
        <span>July 10, 2013</span>
        <span class="details-seperator"></span>

        <a href="#"><i class="icon-comment"></i><span>4</span></a>


        <div class="feature-share">
            <a href="#"><i class="icon-heart"></i></a>
            <a href="#"><i class="icon-facebook"></i></a>
        </div>
    </div>        
</div>

</div>
<div class="col-md-3 col-sm-3 animated" data-animtype="fadeInRight"
data-animrepeat="0"
data-speed="1s"
data-delay="0.5s">
<div class="accordion accordion2" data-toggle="off" data-active-index="0">


    <div class="accordion-row">

        <div class="title">
            <div class="open-icon"></div>
            <h4>Senim justo, rhoncus</h4>
        </div>
        <div class="desc">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut.  imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.Duis leo. </div>
    </div>


    <div class="accordion-row">

        <div class="title">
            <div class="open-icon"></div>
            <h4>Cum sociis natoque penatibus</h4>
        </div>
        <div class="desc">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer.</div>
    </div>


    <div class="accordion-row">

        <div class="title">
            <div class="open-icon"></div>
            <h4>In hac habitasse platea</h4>
        </div>
        <div class="desc">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.</div>
    </div>


</div>            </div>
</div>

</div>
</div>

<div class="space-sep40" id='buyer'></div>

<div class="container" >
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h2 class="h2-section-title">Nhà đầu tư</h2>

            <div class="i-section-title">
                <i class="icon-users-outline">

                </i>
            </div>

            <p class="p-section-info animated" data-animtype="fadeInUp" data-animrepeat="0"
            data-animdelay="0.4s">
            Malesuada tortor, nec scelerisque lorem mattis. Nunc et rutrum consetetur sadipscing elitr, sed diam nonumy at volutpat.
            Sed consectetur suscipit lorem nunc.adipiscing elit. Integer commodo tristique odio, quis fringilla
            ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum et rutrum.
        </p>
        <div class="space-sep20"></div>
    </div>
</div>


<div class="row animated" data-animtype="fadeInUp" data-animrepeat="0"
data-animdelay="0.4s">
<div class="col-md-3 col-sm-3">
    <div class="team-member">
        <div class="team-member-image img-overlay">
            <img src="<%= image_path('media/team1.jpg') %>" alt="John Doe"/>

            <div class="item-img-overlay">
                <div class="social-icons item_img_overlay_content">

                    <a href="#" title="digg" target="_blank" class="social-media-icon digg-icon">digg</a>
                    <a href="#" title="yahoo" target="_blank" class="social-media-icon yahoo-icon">yahoo</a>
                    <a href="#" title="flickr" target="_blank" class="social-media-icon flickr-icon">flickr</a>


                </div>

            </div>
        </div>
        <div class="team-member-content">
            <h3 class="team-member-name h3-body-title">
                John Doe
            </h3>

            <div class="team-member-position">
                CEO
            </div>
            <div class="team-member-short-bio">
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                sanctus est Lorem ipsum dolor sit amet
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-3">
    <div class="team-member">
        <div class="team-member-image img-overlay">
            <img src="<%= image_path('media/team1.jpg') %>" alt="Charlie Barns"/>

            <div class="item-img-overlay">
                <div class="social-icons item_img_overlay_content">

                    <a href="#" title="reddit" target="_blank" class="social-media-icon reddit-icon">reddit</a>
                    <a href="#" title="paypal" target="_blank" class="social-media-icon paypal-icon">paypal</a>
                    <a href="#" title="googleplus" target="_blank" class="social-media-icon googleplus-icon">googleplus</a>
                    <a href="#" title="sharethis" target="_blank" class="social-media-icon sharethis-icon">sharethis</a>


                </div>

            </div>
        </div>
        <div class="team-member-content">
            <h3 class="team-member-name h3-body-title">
                Charlie Barns
            </h3>

            <div class="team-member-position">
                Project Manager
            </div>
            <div class="team-member-short-bio">
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                sanctus est Lorem ipsum dolor sit amet
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-3">
    <div class="team-member">
        <div class="team-member-image img-overlay">
            <img src="<%= image_path('media/team1.jpg') %>" alt="Joe Shmoe"/>

            <div class="item-img-overlay">
                <div class="social-icons item_img_overlay_content">

                    <a href="#" title="linkedin" target="_blank" class="social-media-icon linkedin-icon">linkedin</a>
                    <a href="#" title="googleplus" target="_blank" class="social-media-icon googleplus-icon">googleplus</a>


                </div>

            </div>
        </div>
        <div class="team-member-content">
            <h3 class="team-member-name h3-body-title">
                Joe Shmoe
            </h3>

            <div class="team-member-position">
                Graphic Designer
            </div>
            <div class="team-member-short-bio">
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                sanctus est Lorem ipsum dolor sit amet
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-3">
    <div class="team-member">
        <div class="team-member-image img-overlay">
            <img src="<%= image_path('media/team1.jpg') %>" alt="Fred Bloggs"/>

            <div class="item-img-overlay">
                <div class="social-icons item_img_overlay_content">

                    <a href="#" title="behance" target="_blank" class="social-media-icon behance-icon">behance</a>
                    <a href="#" title="youtube" target="_blank" class="social-media-icon youtube-icon">youtube</a>


                </div>

            </div>
        </div>
        <div class="team-member-content">
            <h3 class="team-member-name h3-body-title">
                Fred Bloggs
            </h3>

            <div class="team-member-position">
                Web Developer
            </div>
            <div class="team-member-short-bio">
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                sanctus est Lorem ipsum dolor sit amet
            </div>
        </div>
    </div>
</div>
</div>

</div>
</div>
