<h2>Edit project</h2>

<%= form_for :project, url: project_path(@project), method: :patch do |f| %>

    <div class="field">
      <%= f.label :title %><br/>
      <%= f.text_field :title, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :location %><br/>
      <%= f.text_field :location %>
    </div>

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
<% end %>