<div class="content-wrapper hide-until-loading">
  <div class="body-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
             data-animrepeat="0"
             data-speed="1s"
             data-delay="0.5s">
          <% page_title t(:edit_your_project) %>
          <h2 class="h2-section-title"><%= t :edit_your_project %></h2>

          <div class="col-md-12 col-sm-12 centered">
          </div>
          <div class="i-section-title">
            <i class="icon-users-outline">

            </i>
          </div>

          <div class="space-sep20"></div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-12 col-sm-12 centered">

          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="title-block clearfix">
                <h3 class="h3-body-title">Khởi tạo dự án</h3>

                <div class="title-seperator"></div>
              </div>
              <div class="tab-container">

                <ul class="etabs">

                  <li class="tab active" role="presentation">
                    <a href="#basic" aria-controls="home" role="tab" data-toggle="tab"><i class=icon-feather></i>Cơ bản</a>
                  </li>

                  <li class="tab" role="presentation">
                    <a href="#rewards" aria-controls="home" role="tab" data-toggle="tab"><i class=icon-drive></i>Phần thưởng</a>
                  </li>

                  <li class="tab" role="presentation">
                    <a href="#story" aria-controls="home" role="tab" data-toggle="tab"><i class=icon-drive></i>Câu chuyện</a>
                  </li>

                  <li class="tab" role="presentation">
                    <a href="#about_you" aria-controls="home" role="tab" data-toggle="tab"><i class=icon-map></i>Về bạn</a>
                  </li>

                  <li class="tab" role="presentation">
                    <a href="#accounts" aria-controls="home" role="tab" data-toggle="tab"><i class=icon-map></i> Tài khoản </a>
                  </li>

                </ul>

                <div class="tabs-content">
                  <div id="basic" role="tabpanel" class="active">
                    <%= render "projects/shared/edit_basic" %>
                  </div>
                  <div id="rewards" role="tabpanel">
                    <%= render "projects/shared/edit_rewards" %>
                  </div>
                  <div id="story" role="tabpanel">
                    <%= render "projects/shared/edit_story" %>
                  </div>
                  <div id="about_you" role="tabpanel">
                    <%= render "projects/shared/edit_about_you" %>
                  </div>
                  <div id="accounts" role="tabpanel">
                    <%= render "projects/shared/edit_accounts" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space-sep40"></div>

        </div>

      </div>
    </div>
  </div>
</div><!--.content-wrapper end -->

<script>


    window.load = function() {

        $("#project_image").fileupload({
            url: "/projects/superman-returns/upload_image",
            type: "POST",
            add: function (e, data) {
                data.submit();
            },
            uploadTemplateId: null,
            downloadTemplateId: null,
            formData: function () {
                return [];
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                console.log(progress);
            },
            done: function (e, data) {
                console.log(data);
            }
        });

    }

</script>