

<% page_title t(:edit_your_project) %>
<h2><%= t :edit_your_project %></h2>

<div>
  <%= form_for :project, url: project_path(@project), method: :put do |f| %>

      <div class="field">
        <%= f.label :title %><br/>
        <%= f.text_field :title, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :video %><br/>
        <%= f.file_field :video, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :image %><br/>
        <% if @project.image.exists? %>
            <%= image_tag @project.image.url(:medium) %>
        <% end %>
        <%= f.file_field :image, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label "Category" %><br/>
        <%= f.select :category_id, options_for_select(@categories.map { |c| [c.name, c.id] }, @project.category_id) %>
      </div>

      <div class="field">
        <%= f.label :location %><br/>
        <%= f.select :location, options_for_select(@cities.map { |city| city.name }, @project.location) %>
      </div>

      <div class="field">
        <%= f.label :short_description %><br/>
        <%= f.text_area :short_description %>
      </div>

      <div class="field">
        <%= f.label :funding_goal %><br/>
        <%= f.text_field :funding_goal %>
      </div>

      <div class="field">
        <%= f.label :funding_duration %><br/>
        Number of days: <%= f.text_field :duration %>
        End on date & time: <%= f.text_field :deadline %>
      </div>

      <div class="actions">
        <%= f.submit "Submit" %>
      </div>

      <% if !@project.launched? %>
        <%= f.button "Launch project" %>
      <% end %>
  <% end %>

</div>



<div>
  <h2>Add a post:</h2>
  <%= form_for([@project, @project.posts.build]) do |f| %>
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </p>

      <p>
        <%= f.label :body %><br>
        <%= f.text_area :body %>
      </p>

      <p>
        <%= f.submit %>
      </p>
  <% end %>
</div>

<div>
  <h2>Add a reward:</h2>
  <%= form_for([@project, @project.rewards.build]) do |f| %>
      <p>
        <%= f.label :minimum_pledge_amount %><br>
        <%= f.text_field :minimum_pledge_amount %>
      </p>

      <p>
        <%= f.label :description %><br>
        <%= f.text_area :description %>
      </p>

      <p>
        <%= f.label :limit_quantity %><br>
        <%= f.text_field :limit_quantity %>
      </p>

      <p>
        <%= f.submit %>
      </p>
  <% end %>
</div>

<script>

    $("#project_image").fileupload({
        url: "/projects/superman-returns/upload_image",
        type: "POST",
        add: function (e, data) {
            data.submit();
        },
        uploadTemplateId: null,
        downloadTemplateId: null,
        formData: function () {
            return [];
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            console.log(progress);
        },
        done: function (e, data) {
            console.log(data);
        }
    });

    function uploadProjectImage() {

        var file = document.getElementById("project_image");

        var formData = new FormData();
        formData.append("image", file.files[0]);

        var uploadRequest = $.ajax({
            url: "/projects/superman-returns/upload_image",
            type: "PATCH",
            xhr: function () {
                var myXhr = $.ajaxSettings.xhr();
                if (myXhr.upload) {
                    myXhr.upload.addEventListener('progress', progressHandlingFunction, false);
                }
                return myXhr;
            },
            data: formData,
            cache: false,
            contentType: false,
            processData: false
        });

        uploadRequest.success(function (result) {
            console.log(result);
        });
    }

    function progressHandlingFunction(e) {
        if (e.lengthComputable) {
            console.log(e);
        }
    }
</script>