<% page_title t('text.edit_your_project') %>
<% body_id "project_edit" %>

<div class="content-wrapper">
  <div class="body-wrapper">
    <div class="container">
      <div class="row">
        <div class="content-head text-center">
          <div class="container">
            <%= hidden_field_tag :project_id, @project.id %>
            <%= hidden_field_tag :project_slug, @project.slug %>
            <h2><%= @project.title %></h2>
          </div>
        </div>

        <div id="message_container">
          <div class="container">
            <div class="alert alert-success" style="display: none">
              Thay đổi được lưu thành công
            </div>
            <div class="alert alert-danger" style="display: none">
              <ul class=""></ul>
            </div>
          </div>
        </div>

        <div class="tab-container clearfix">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="affix-container" data-spy="affix" data-offset-top="260">
              <ul id="edit_tabs" class="etabs clearfix">
                <li class="tab first active" role="presentation">
                  <a href="#basic" data-edit-info="basic" aria-controls="home" role="tab" data-toggle="tab">
                    <i class="number">1</i> Thông tin cơ bản
                  </a>
                </li>

                <li class="tab" role="presentation">
                  <a href="#story" data-edit-info="story" aria-controls="home" role="tab" data-toggle="tab">
                    <i class="number">2</i> Câu chuyện
                  </a>
                </li>

                <li class="tab" role="presentation">
                  <a href="#rewards" data-edit-info="rewards" aria-controls="home" role="tab" data-toggle="tab">
                    <i class="number">3</i> Phần thưởng
                  </a>
                </li>

                <li class="tab last" role="presentation">
                  <a href="#about_you" data-edit-info="profile" aria-controls="home" role="tab" data-toggle="tab">
                    <i class="number">4</i> Thông tin cá nhân
                  </a>
                </li>

                <li class="tab hidden" role="presentation">
                  <a href="#accounts" data-edit-info="accounts" aria-controls="home" role="tab" data-toggle="tab">
                    <i class="number">5</i> Tài khoản
                  </a>
                </li>
              </ul>
              <% if !@project.launched? && !@project.stopped? && !@project.deleted? %>
                  <a id="launch_project" class="btn btn-x-lg btn-primary" href="javascript:void(0);">Khởi động</a>
              <% end %>
            </div>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="tabs-content">
              <div id="basic" role="tabpanel" class="active">
                <%= render "projects/shared/edit_basic" %>
              </div>
              <div id="rewards" role="tabpanel">
                <%= render "projects/shared/edit_rewards" %>
              </div>
              <div id="story" role="tabpanel">
                <%= render "projects/shared/edit_story" %>
              </div>
              <div id="about_you" role="tabpanel">
                <%= render "projects/shared/edit_about_you" %>
              </div>

              <div id="accounts" role="tabpanel">
                <%= render "projects/shared/edit_accounts" %>
              </div>
            </div>
          </div>
        </div>
        <a href="#header" class="smoothScroll" id="go_top"></a>
      </div>
    </div>
  </div>
</div>
<div class="modal_dialog spinning" id="saving-layer" style="display: none;">
  <div class="modal_dialog_outer">
    <div class="modal_dialog_sizer">
      <div class="modal_dialog_inner">
        <div class="modal_dialog_content"></div>
      </div>
      <span class="modal_dialog_ie_hack"></span>
    </div>
  </div>
</div>


<%= render "projects/shared/modal_add_reward" %>
<%= render "projects/shared/modal_add_story_post" %>
