<% page_title "Dự án đã tạo" %>
<% body_id "projects_my" %>
<div class="content-wrapper">
  <div class="body-wrapper">
    <div class="content-head">
      <h2 class="text-center">Dự án đã tạo</h2>
      <h6 class="text-center">
        Nơi bạn quản lý những dự án do mình tạo
      </h6>
    </div>
    <div class="content-main">
      <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <div class="row">
            <ul class="projects">
              <% @projects.each do |project| %>
                  <li class="project clearfix">
                    <div class="display-table">
                      <div class="image display-table-cell">
                        <%= image_tag project.image.url(:tiny) %>
                      </div>
                      <div class="display-table-cell">
                        <div class="display-table">
                          <div class="title display-table-cell">
                            <%= label_tag project.title %>

                            <% if project.launched? %>
                                <p class="text-success">Dự án đã được khởi động lúc <%= project.launched_at.strftime("%H:%M ngày %d/%m/%Y") %></p>
                            <% end %>

                          </div>
                          <div class="links display-table-cell">
                            <%= link_to "Chỉnh sửa", edit_project_path(project.id) %>
                            <% if project.launched? %>
                                <%= link_to "Theo dõi", project_path(project) %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

