<% page_title "Dự án đã tạo" %>
<% body_id "projects_my" %>
<div class="content-wrapper">
  <div class="body-wrapper">
    <div class="content-head text-center">
      <div class="container">
        <h2 class="text-left"><%= current_user.name %></h2>
        <h6>&nbsp;</h6>
      </div>
    </div>
    <div class="content-nav">
      <div class="container">
        <ul class="nav nav-tabs">
          <li>
            <a href="/profile/">Thông tin cá nhân</a>
          </li>
          <li class="active">
            <%= link_to "Dự án đã tạo", profile_projects_path %>
          </li>
        </ul>
      </div>
    </div>
    <div class="content-main">
      <div class="container">

        <ul class="projects">
          <% @projects.each do |project| %>
              <li class="project clearfix">
                  <a href="" class="project-image pull-left">
                    <%= image_tag project.image.url(:small) %>
                  </a>
                <div class="project-content">
                  <div class="actions">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Quản lý <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" id="pledge_money">
                        <li><%= link_to "Chỉnh sửa", edit_project_path(project.id) %></li>
                        <li><%= link_to "Theo dõi", project_path(project) %></li>
                      </ul>
                    </div>
                  </div>
                  <h3>
                    <%= project.title %>
                  </h3>
                  <h5>
                    thực hiện bởi <%= link_to project.user.name, user_profile_path(project.user) %>
                  </h5>
                </div>
              </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>

