<% page_title "Create your projects" %>
<h2>Create project</h2>

<%= form_for :project, url: projects_path do |f| %>

    <div class="field">
      <%= f.label :title %><br/>
      <%= f.text_field :title, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :location %><br/>
      <%= f.text_field :location %>
    </div>

    <div class="actions">
      <%= f.submit "Create" %>
    </div>
<% end %>