<% page_title t('text.create_project') %>
<% body_id "project_create" %>

<div class="content-wrapper hide-until-loading">
  <div class="body-wrapper">

    <div class="content-head">
      <h2><%= t('text.create_project') %></h2>
    </div>

    <div class="content-main">
      <div class="container">
        <div class="classic-form">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="clearfix">
                <%= form_for :project, url: projects_path, method: :get do |f| %>

                    <h2>
                      <div class="row">
                        <div class='col-md-3 col-sm-3'>
                          <%= f.label t("project.edit.basic.category") %><br/>
                          <%= f.select :category_id, options_from_collection_for_select(@categories, 'id', 'name'), {:include_blank => false}, {class: 'form-control'} %>
                        </div>
                        <div class='col-md-3 col-sm-3'>

                          <%= f.label t("project.edit.basic.project_title") %><br/>
                          <%= f.text_field :title, autofocus: true, class: 'form-control' %>
                        </div>
                        <div class='col-md-3 col-sm-3'>
                          <%= f.label t("project.edit.basic.location") %><br/>
                          <%= f.select :location, options_from_collection_for_select(@cities, 'name', 'name'), {:include_blank => false}, {class: 'form-control'} %>
                        </div>
                      </div>

                    </h2>
                    <%= f.submit "Khởi tạo", class: 'btn btn-lg btn-primary' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
</div>