<% page_title @project.title %>
<% body_id "project_show" %>

<div class="content-wrapper">
  <div class="body-wrapper">
    <div class="content-head text-center">
      <div class="container">
        <%= hidden_field_tag :project_id, @project.id %>
        <%= hidden_field_tag :slug, @project.slug %>
        <% if @project.initiating? %>
            <p class="project-warning">
              <span class="annotation-pill pill-draft">Đang khởi tạo</span>
              Dự án vẫn chưa được khởi động. Những người dùng khác sẽ không thể xem được trang này.
            </p>
        <% end %>
        <h2><%= @project.title %></h2>
        <h6>
          thực hiện bởi <a href="javascript:void(0);"><b><%= @project.user.name %></b></a>
        </h6>
      </div>
    </div>
    <div class="content-nav">
      <div class="container">
        <ul class="nav nav-tabs" data-tabs="tabs">
          <li role="presentation" class="active">
            <a href="#story" aria-controls="story" role="tab" data-toggle="tab">
              Câu chuyện
            </a>
          </li>
          <li role="presentation">
            <a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">
              Bình luận (<%= @project.comments.count %>)
            </a>
          </li>
          <li role="presentation">
            <a href="#pledges" aria-controls="pledges" role="tab" data-toggle="tab">
              Đóng góp (<%= @pledges.count %>)
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="content-main <%= "unsuccessful" if @project.unsuccessful? %>">
      <div class="container">
        <div class="row">
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

            <div class="tab-content">
              <div class="tab-pane active" id="story">
                <%= render "projects/shared/show_story" %>
              </div>
              <div class="tab-pane" id="comments">
                <%= render "projects/shared/show_comments" %>
              </div>
              <div class="tab-pane" id="pledges">
                <%= render "projects/shared/show_pledges" %>
              </div>
            </div>

          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="project-stats">
              <div class="side-top">
                <h1><%= @pledges.count(:pledger_id, :distinct => true) %></h1>

                <h3 class='backer'>người tham gia góp vốn</h3>
              </div>
              <div class="side-top">
                <h1><%= number_to_currency(@pledges.sum(:pledge_amount), precision: 0) %></h1>

                <h3>
                  trên mục tiêu <%= number_to_currency(@project.funding_goal, precision: 0) %> đã được góp
                </h3>
              </div>
              <div class="side-top">
                <h1> <%= @project.remaining_days %>  </h1>

                <h3> ngày còn lại </h3>
              </div>
            </div>

            <% if @project.launched? && !@project.ended? %>

                <button id="btn_pledge" class="btn btn-x-lg btn-primary" data-toggle="modal" href='#pledge_money'>Góp
                  vốn
                </button>

                <div class="project-dates">
                  <p>
                    Dự án được khởi động lúc <%= @project.launched_at.strftime("%H:%M ngày %d/%m/%Y") %>
                    và sẽ kết thúc vào lúc <%= @project.deadline.strftime("%H:%M ngày %d/%m/%Y") %>
                  </p>
                </div>
            <% end %>

            <% if (@project.ended?) %>
                <div class="funding-status">
                  <h2>Thời gian góp vốn đã kết thúc</h2>
                  <% if (@project.unsuccessful?) %>
                      <p>Dự án không được huy động vốn thành công.</p>
                  <% else %>
                      <p>Dự án được huy động vốn thành công.</p>
                  <% end %>
                </div>
            <% end %>
            <div class="creator">
              <div class="row">
                <div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
                  <a class="javascript:void(0);" href="">
                    <h5>
                      <%= @project.user.name %>
                    </h5>
                  </a>

                  <p class="links">
                    <a href="javascript:void(0);" class="btn-link">Xem thông tin</a>
                    <% if !(current_user && @project.creator_id == current_user.id) %>
                        <a class="btn-link" data-toggle="modal" href='#send-message'>Gửi tin nhắn</a>
                    <% end %>
                  </p>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4">
                  <%= image_tag @project.user.avatar_url(:standard), class: "circle avatar-small", height: "80" %>
                </div>
              </div>
            </div>
            <div id="rewards">
              <% cache(cache_key_for_project_rewards(@project), skip_digest: true) do %>
                  <h3>Phần thưởng</h3>

                  <div class="rewards">
                    <% @project.rewards.each do |reward| %>
                        <div class="reward">
                          <h3><b><%= number_to_currency(reward.minimum_pledge_amount) %></b></h3>

                          <p>
                            <%= reward.description %>
                          </p>
                        </div>
                    <% end %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if (current_user && @project.creator_id == current_user.id) %>
      <div class="project-toolbar">
        <div class="edit-project">
          <%= link_to edit_project_path(@project.id) do %>
              <div><i class="icon-pen"></i>Chỉnh sửa dự án</div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
<%= render "projects/shared/modal_pledge_money" %>
<%= render "projects/shared/modal_send_message" %>

