<% page_title @project.title %>
<% body_id "project_show" %>
<div class="content-wrapper hide-until-loading">
  <div class="body-wrapper">
    <div class="content-head">
      <%= hidden_field_tag :slug, @project.slug %>
      <h2 class="text-center"><%= @project.title %></h2>
      <h6 class="text-center">
        thực hiện bởi <a href="javascript:void(0);"><b><%= @project.user.name %></b></a>
      </h6>
    </div>
    <div class="project-overview">
      <div class="container">
        <div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="row">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/59056788?title=0&byline=0&portrait=0&badge=0" width="100%" height="530" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            <br/>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="side-top">
              <span class='number-backer'><%= @total_pledgers %></span><br><br>
              <span class='backer'>người tham gia góp vốn</span>
            </div>

            <div class="side-top">
              <span class='number-money'><%= number_to_currency(@total_pledge_amount, precision: 0) %></span>
              <br>
              <br>
                <span class='backer'>
                  trên mục tiêu <%= number_to_currency(@project.funding_goal, precision: 0) %> đã được góp
                </span>
            </div>
            <div class="side-top">
              <span class='number-day'> 21  </span>
              <br>
              <br>
              <span class='backer'> ngày còn lại </span>
            </div>

            <div class="buttons" role="group" aria-label="...">
              <a class="btn btn-lg btn-blue" data-toggle="modal" href='#view-story'>Câu chuyện</a>
              <a class="btn btn-lg btn-primary" data-toggle="modal" href='#pledge-money'>Đóng góp</a>
            </div>
            <br/>
            <br/>
            <div>
              <p>Dự án được khởi động ngày 07/03/2015 và kết thúc ngày 31/3/2015</p>
            </div>
          </div>
        </div>
        <div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="row">
              <h3><%= @project.short_description %></h3>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="row">
              <div class="creator">
                <div class="col-md-8">
                  <h5>
                    <a class="javascript:void(0);" href=""><%= @project.user.name %></a>
                  </h5>

                  <p>
                    <a href="javascript:void(0);" class="btn-link">Xem thông tin</a>
                    <a class="btn-link" data-toggle="modal" href='#send-message'>Gửi tin nhắn</a>
                  </p>
                </div>
                <div class="col-right col-md-4">
                  <%= image_tag @project.user.image.url, class: "circle avatar-small", height: "80" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
    </div>
    <div class="project-nav">
      <div class="container">
        <ul id="show-tabs" class="nav nav-tabs container clearfix" data-tabs="tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#home" aria-controls="home" class='project-tab' role="tab" data-toggle="tab">
              Câu chuyện
            </a>
          </li>
          <li role="presentation">
            <a href="#comments" aria-controls="comment" class='project-tab' role="tab" data-toggle="tab">
              Bình luận (<%= @project.comments.count %>)</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="project-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div role="tabpanel">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                  <%= render "projects/shared/show_story" %>
                </div>
                <div role="tabpanel" class="tab-pane" id="comments">
                  <%= render "projects/shared/show_comments" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<%= render "projects/shared/modal_pledge_money" %>
<%= render "projects/shared/modal_send_message" %>

