<% page_title @project.title %>
<% body_id "project_show" %>
<div class="content-wrapper hide-until-loading">
  <div class="body-wrapper">
    <div class="content-head text-center">
      <div class="container">
        <%= hidden_field_tag :project_id, @project.id %>
        <%= hidden_field_tag :slug, @project.slug %>
        <h2><%= @project.title %></h2>
        <h6>
          thực hiện bởi <a href="javascript:void(0);"><b><%= @project.user.name %></b></a>
        </h6>
      </div>
    </div>
    <div class="project-nav">
      <div class="container">
        <ul id="show-tabs" class="nav nav-tabs container clearfix" data-tabs="tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#story" aria-controls="story" class='project-tab' role="tab" data-toggle="tab">
              Câu chuyện
            </a>
          </li>
          <li role="presentation">
            <a href="#comments" aria-controls="comments" class='project-tab' role="tab" data-toggle="tab">
              Bình luận (<%= @project.comments.count %>)
            </a>
          </li>
          <li role="presentation">
            <a href="#pledges" aria-controls="pledges" class='project-tab' role="tab" data-toggle="tab">
              Đóng góp (<%= @project.pledges.count %>)
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="project-content">
      <div class="container">
        <div class="row">
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

            <div role="tabpanel">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="story">
                  <%= render "projects/shared/show_story" %>
                </div>
                <div role="tabpanel" class="tab-pane" id="comments">
                  <%= render "projects/shared/show_comments" %>
                </div>
                <div role="tabpanel" class="tab-pane" id="pledges">
                  <%= render "projects/shared/show_pledges" %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="project-stats">
              <div class="side-top">
                <h1><%= @total_pledgers %></h1>

                <h3 class='backer'>người tham gia góp vốn</h3>
              </div>
              <div class="side-top">
                <h1><%= number_to_currency(@total_pledge_amount, precision: 0) %></h1>

                <h3>
                  trên mục tiêu <%= number_to_currency(@project.funding_goal, precision: 0) %> đã được góp
                </h3>
              </div>
              <div class="side-top">
                <h1> <%= (@project.deadline - @project.launched_at).to_i / 1.day %>  </h1>

                <h3> ngày còn lại </h3>
              </div>
              <% if !(current_user && @project.creator_id == current_user.id) %>
                  <div class="side-top">
                    <button class="btn btn-x-lg btn-primary" data-toggle="modal" href='#pledge_money'>Góp vốn</button>
                  </div>
              <% end %>
              <div class="side-top">
                <p>
                  Dự án được khởi động lúc <%= @project.launched_at.strftime("%I:%M ngày %d/%m/%Y") %>
                </p>
              </div>
              <div class="creator">
                <div class="row">
                  <div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
                    <a class="javascript:void(0);" href="">
                      <h5>
                        <%= @project.user.name %>
                      </h5>
                    </a>

                    <p>
                      <!--
                        <a href="javascript:void(0);" class="btn-link">Xem thông tin</a>
                        -->
                      <% if !(current_user && @project.creator_id == current_user.id) %>
                          <a class="btn-link" data-toggle="modal" href='#send-message'>Gửi tin nhắn</a>
                      <% end %>
                    </p>
                  </div>
                  <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4">
                    <%= image_tag @project.user.image.url(:small), class: "circle avatar-small", height: "80" %>
                  </div>
                </div>
              </div>
            </div>
            <div id="rewards">
              <h3>Phần thưởng</h3>

              <div class="rewards">
                <% @project.rewards.each do |reward| %>
                    <div class="reward">
                      <h5>Góp <%= number_to_currency(reward.minimum_pledge_amount, precision: 0) %> hoặc nhiều hơn</h5>
                      <br/>

                      <p>
                        <%= reward.description %>
                      </p>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if (current_user && @project.creator_id == current_user.id) %>
      <div class="project-toolbar">
        <div class="edit-project">
          <%= link_to edit_project_path(@project.id) do %>
              <div><i class="icon-pen"></i>Chỉnh sửa dự án</div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
<%= render "projects/shared/modal_pledge_money" %>
<%= render "projects/shared/modal_send_message" %>

