<div class="content-wrapper hide-until-loading discover-page">
  <div class="body-wrapper mb30">
    <div class="col-md-12 col-sm-12 animated" data-animtype="flipInY"
    data-animrepeat="0"
    data-speed="1s"
    data-delay="0.5s">
    <h1 class="h2-section-title mb30 discover-h1">Hãy chọn dự án mà bạn quan tâm</h1>
    <p class="h5 bold mb30 center">
      15
      loại dự án. Hàng nghìn dự án tuyệt vời.
    </p>
  </div>

  <div class="container">


    <div class="row">

      <div class="col-md-3 col-sm-3">

        <div class="content-box content-style4 medium animated"
        data-animtype="fadeIn"
        data-animrepeat="0"
        data-animspeed="1s"
        data-animdelay="0.2s"
        >
        <h4 class="h4-body-title">
         <i class="icon icon-music"></i>
         Nghệ thuật
       </h4>
       <div class="content-box-text">

         Hiện có 345 dự án về nghệ thuật với tỉ lệ huy động vốn đạt 70%, có 123 dự án được huy động vốn thành công thành công

         <div>
          <a href="/discover/show" class=" btn btn-sm btn-discover">
            <span>Xem thêm</span>
          </a>
        </div>


      </div>

    </div>

  </div>
  <div class="col-md-3 col-sm-3"> 
    <div class="content-box content-style4 medium animated"
    data-animtype="fadeIn"
    data-animrepeat="0"
    data-animspeed="1s"
    data-animdelay="0.2s"
    >
    <h4 class="h4-body-title">
      <i class="icon icon-study"></i>
      Giáo dục
    </h4>
    <div class="content-box-text">
      Hiện có 345 dự án về giáo dục với tỉ lệ huy động vốn đạt 70%, có 123 dự án được huy động vốn thành công thành công

      <div>
        <a href="/discover/show" class=" btn btn-sm btn-discover">
          <span>Xem thêm</span>
        </a>
      </div>

    </div>

  </div>
</div>
<div class="col-md-3 col-sm-3"> 
  <div class="content-box content-style4 medium animated"
  data-animtype="fadeIn"
  data-animrepeat="0"
  data-animspeed="1s"
  data-animdelay="0.2s"
  >
  <h4 class="h4-body-title">
    <i class="icon icon-banknote"></i>
    Kinh doanh
  </h4>
  <div class="content-box-text">
   Hiện có 345 dự án về giáo dục với tỉ lệ huy động vốn đạt 70%, có 123 dự án được huy động vốn thành công thành công

   <div>
    <a href="/discover/show" class=" btn btn-sm btn-discover">
      <span>Xem thêm</span>
    </a>
  </div>

</div>

</div>
</div>
<div class="col-md-3 col-sm-3"> 
  <div class="content-box content-style4 medium animated"
  data-animtype="fadeIn"
  data-animrepeat="0"
  data-animspeed="1s"
  data-animdelay="0.2s"
  >
  <h4 class="h4-body-title">
    <i class="icon icon-heart-1"></i>
    Từ thiện
  </h4>
  <div class="content-box-text">
    Hiện có 345 dự án về giáo dục với tỉ lệ huy động vốn đạt 70%, có 123 dự án được huy động vốn thành công thành công

    <div>
      <a href="/discover/show" class=" btn btn-sm btn-discover">
        <span>Xem thêm</span>
      </a>
    </div>

  </div>

</div>
</div>


<div class="col-md-3 col-sm-3">

  <div class="content-box content-style4 medium animated"
  data-animtype="fadeIn"
  data-animrepeat="0"
  data-animspeed="1s"
  data-animdelay="0.2s"
  >
  <h4 class="h4-body-title">
   <i class="icon icon-myspace-alt"></i>
   Thời trang
 </h4>
 <div class="content-box-text">

   Hiện có 345 dự án về thời trang với tỉ lệ huy động vốn đạt 70%, có 123 dự án được huy động vốn thành công thành công

   <div>
    <a href="/discover/show" class=" btn btn-sm btn-discover">
      <span>Xem thêm</span>
    </a>
  </div>


</div>

</div>

</div>
<div class="col-md-3 col-sm-3"> 
  <div class="content-box content-style4 medium animated"
  data-animtype="fadeIn"
  data-animrepeat="0"
  data-animspeed="1s"
  data-animdelay="0.2s"
  >
  <h4 class="h4-body-title">
    <i class="icon icon-camera-streamline-video"></i>
    Quay phim
  </h4>
  <div class="content-box-text">
    Hiện có 345 dự án về làm phim với tỉ lệ huy động vốn đạt 70%, có 123 dự án được huy động vốn thành công thành công

    <div>
      <a href="/discover/show" class=" btn btn-sm btn-discover">
        <span>Xem thêm</span>
      </a>
    </div>

  </div>

</div>
</div>
<div class="col-md-3 col-sm-3"> 
  <div class="content-box content-style4 medium animated"
  data-animtype="fadeIn"
  data-animrepeat="0"
  data-animspeed="1s"
  data-animdelay="0.2s"
  >
  <h4 class="h4-body-title">
    <i class="icon icon-food"></i>
    Ăn uống
  </h4>
  <div class="content-box-text">
   Hiện có 345 dự án về nhà hàng với tỉ lệ huy động vốn đạt 70%, có 123 dự án được huy động vốn thành công thành công

   <div>
    <a href="/discover/show" class=" btn btn-sm btn-discover">
      <span>Xem thêm</span>
    </a>
  </div>

</div>

</div>
</div>
<div class="col-md-3 col-sm-3"> 
  <div class="content-box content-style4 medium animated"
  data-animtype="fadeIn"
  data-animrepeat="0"
  data-animspeed="1s"
  data-animdelay="0.2s"
  >
  <h4 class="h4-body-title">
    <i class="icon icon-truck"></i>
    Du lịch
  </h4>
  <div class="content-box-text">
    Hiện có 345 dự án về du lịch với tỉ lệ huy động vốn đạt 70%, có 123 dự án được huy động vốn thành công thành công

    <div>
      <a href="/discover/show" class=" btn btn-sm btn-discover">
        <span>Xem thêm</span>
      </a>
    </div>

  </div>

</div>
</div>


<div class="col-md-3 col-sm-3">

  <div class="content-box content-style4 medium animated"
  data-animtype="fadeIn"
  data-animrepeat="0"
  data-animspeed="1s"
  data-animdelay="0.2s"
  >
  <h4 class="h4-body-title">
   <i class="icon icon-ipod-mini-music-streamline"></i>
   Trò chơi
 </h4>
 <div class="content-box-text">

   Hiện có 345 dự án về trò chơi với tỉ lệ huy động vốn đạt 70%, có 123 dự án được huy động vốn thành công thành công

   <div>
    <a href="/discover/show" class=" btn btn-sm btn-discover">
      <span>Xem thêm</span>
    </a>
  </div>


</div>

</div>

</div>
<div class="col-md-3 col-sm-3"> 
  <div class="content-box content-style4 medium animated"
  data-animtype="fadeIn"
  data-animrepeat="0"
  data-animspeed="1s"
  data-animdelay="0.2s"
  >
  <h4 class="h4-body-title">
    <i class="icon icon-man-people-streamline-user"></i>
    Cộng đồng
  </h4>
  <div class="content-box-text">
    Hiện có 345 dự án về cộng đồng với tỉ lệ huy động vốn đạt 70%, có 123 dự án được huy động vốn thành công thành công

    <div>
      <a href="/discover/show" class=" btn btn-sm btn-discover">
        <span>Xem thêm</span>
      </a>
    </div>

  </div>

</div>
</div>
<div class="col-md-3 col-sm-3"> 
  <div class="content-box content-style4 medium animated"
  data-animtype="fadeIn"
  data-animrepeat="0"
  data-animspeed="1s"
  data-animdelay="0.2s"
  >
  <h4 class="h4-body-title">
    <i class="icon icon-computer-macintosh-vintage"></i>
    Công nghệ
  </h4>
  <div class="content-box-text">
   Hiện có 345 dự án về công nghệ với tỉ lệ huy động vốn đạt 70%, có 123 dự án được huy động vốn thành công thành công

   <div>
    <a href="/discover/show" class=" btn btn-sm btn-discover">
      <span>Xem thêm</span>
    </a>
  </div>

</div>

</div>
</div>
<div class="col-md-3 col-sm-3"> 
  <div class="content-box content-style4 medium animated"
  data-animtype="fadeIn"
  data-animrepeat="0"
  data-animspeed="1s"
  data-animdelay="0.2s"
  >
  <h4 class="h4-body-title">
    <i class="icon icon-camera-photo-streamline"></i>
    Nhiếp ảnh
  </h4>
  <div class="content-box-text">
    Hiện có 345 dự án về nhiếp ảnh với tỉ lệ huy động vốn đạt 70%, có 123 dự án được huy động vốn thành công thành công

    <div>
      <a href="/discover/show" class=" btn btn-sm btn-discover">
        <span>Xem thêm</span>
      </a>
    </div>

  </div>

</div>
</div>



</div>

</div>


<div class="section-content no-border">
  <div class="container best-project">
    <div class="row">

      <div class="col-md-6 col-sm-6 animated " data-animtype="fadeInLeft"
      data-animrepeat="0"
      data-speed="1s"
      data-delay="0.4s">
      <div class=" center-text left-image-container">
        <img width="100%"  src=media/superman-returns.jpg alt="iPhone" />
      </div>                    
    </div>

    <div class="col-md-6 col-sm-6 animated discover-left-info" data-animtype="fadeInRight"
    data-animrepeat="0"
    data-speed="1s"
    data-delay="0.4s">    
    <div class="project-of-the-day"><span class='bg-blue'><span class='icon-star'></span>&nbsp;&nbsp;Dự án của tháng</span></div>
    

    <h2 class=""><a href="">Supperman return</a></h2>
    <p class="mb30">Lorem ipsum dolor sit amet, in pri offendit ocurreret. Vix sumo ferri an. pfs adodio fugit delenit ut qui. Omittam suscipiantur ex  vel,ex audiam  intellegat gfIn labitur discere eos, nam an feugiat voluptua.</p>
    
    <div class="project-status discover-progress" >
      <p><span class="fa fa-map-marker"></span>&nbsp;Bình dương&nbsp;&nbsp;
        <span class="fa fa-user"></span>&nbsp;42 Người góp&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="fa fa-money"></span>&nbsp;18,000,000/20,000,000 đồng&nbsp;&nbsp;

      </p>
      
      <div class="progress">
        <div class="progress-bar animated" role="progressbar" aria-valuenow="70%"
        aria-valuemin="0" aria-valuemax="100"
        data-animtype="animate-progress"
        data-animrepeat="0">
      </div>
    </div>
  </div>
</div>                
</div>
</div>
</div>
<div class="space-sep20"></div>
<div class='container best-project no-border no-shadow bg-transparent '>
<div class="space-sep20"></div>
  <div class="row">
    <div class="title-block clearfix">
                            <h3 class="h3-body-title">Dự án nổi bật</h3>
                            <div class="title-seperator"></div>
                        </div>
                       
</div>

<div class="space-sep20"></div>
<div class="row" id="top-projects">

  <% @projects.each do |project| %>
  <div class="col-md-4 col-sm-4 projects">
    <div class="feature project animated" data-animtype="fadeInUp" data-animrepeat="0" data-animspeed="1s" data-animdelay="0.4s">
      <div class="feature-image img-overlay">
        <% if project.image.exists? %>
        <%= image_tag project.image.url(:listing) %>
        <% end %>

        <div class="item-img-overlay">
          <a class="portfolio-zoom fa fa-plus" href="media/blog1.jpg"
          data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>

        </div>

      </div>

      <div class="feature-content">
        <div class="project-info">
          <%= link_to(project) do %>
          <h6 class="project-title">
            <%= project.title %>
          </h6>
          <% end %>

          <p>
            <%= project.short_description %>
          </p>


        </div>

        <div class="project-status">
          <p><span class="fa fa-map-marker"></span>&nbsp;<%= project.location %></p>

          <div class="progress">
            <div class="progress-bar animated" role="progressbar" aria-valuenow="<%= project.pledges.sum(:pledge_amount)*100 %>%"
             aria-valuemin="0" aria-valuemax="100"
             data-animtype="animate-progress"
             data-animrepeat="0">
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <% end %>
</div>
</div>





</div>
<!--.content-wrapper end -->

</div>



