<div class="content-wrapper hide-until-loading discover-page">
  <div class="body-wrapper">
    <div class="content-head">
      <h2>Hãy chọn dự án mà bạn quan tâm</h2>
    </div>

    <div class="content-main">
      <div class="container">


        <div class="row">

          <div class="col-md-3 col-sm-3">

            <div class="content-box content-style4 medium animated"
                 data-animtype="fadeIn"
                 data-animrepeat="0"
                 data-animspeed="1s"
                 data-animdelay="0.2s"
            >
              <a href="/discover/show">
                <h4 class="h4-body-title">
                  <i class="icon icon-music"></i>
                  Nghệ thuật
                </h4>
              </a>

              <div class="content-box-text">

                Hiện có 345 dự án về nghệ thuật với tỉ lệ vốn đạt 70%, có 123 dự án được

                <div>
                  <a href="/discover/show" class=" btn btn-sm btn-discover">
                    <span>Xem thêm</span>
                  </a>
                </div>


              </div>

            </div>

          </div>
          <div class="col-md-3 col-sm-3">
            <div class="content-box content-style4 medium animated"
                 data-animtype="fadeIn"
                 data-animrepeat="0"
                 data-animspeed="1s"
                 data-animdelay="0.2s"
            >
              <a href="/discover/show">
                <h4 class="h4-body-title">
                  <i class="icon icon-study"></i>
                  Giáo dục
                </h4>
              </a>

              <div class="content-box-text">
                Hiện có 345 dự án về giáo dục với tỉ lệ vốn đạt 70%, có 123 dự án được

                <div>
                  <a href="/discover/show" class=" btn btn-sm btn-discover">
                    <span>Xem thêm</span>
                  </a>
                </div>

              </div>

            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="content-box content-style4 medium animated"
                 data-animtype="fadeIn"
                 data-animrepeat="0"
                 data-animspeed="1s"
                 data-animdelay="0.2s"
            >
              <a href="/discover/show">
                <h4 class="h4-body-title">
                  <i class="icon icon-banknote"></i>
                  Kinh doanh
                </h4>
              </a>

              <div class="content-box-text">
                Hiện có 345 dự án về giáo dục với tỉ lệ vốn đạt 70%, có 123 dự án được

                <div>
                  <a href="/discover/show" class=" btn btn-sm btn-discover">
                    <span>Xem thêm</span>
                  </a>
                </div>

              </div>

            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="content-box content-style4 medium animated"
                 data-animtype="fadeIn"
                 data-animrepeat="0"
                 data-animspeed="1s"
                 data-animdelay="0.2s"
            >
              <a href="/discover/show">
                <h4 class="h4-body-title">
                  <i class="icon icon-heart-1"></i>
                  Từ thiện
                </h4>
              </a>

              <div class="content-box-text">
                Hiện có 345 dự án về giáo dục với tỉ lệ vốn đạt 70%, có 123 dự án được

                <div>
                  <a href="/discover/show" class=" btn btn-sm btn-discover">
                    <span>Xem thêm</span>
                  </a>
                </div>

              </div>

            </div>
          </div>


          <div class="col-md-3 col-sm-3">

            <div class="content-box content-style4 medium animated"
                 data-animtype="fadeIn"
                 data-animrepeat="0"
                 data-animspeed="1s"
                 data-animdelay="0.2s"
            >
              <a href="/discover/show">
                <h4 class="h4-body-title">
                  <i class="icon icon-myspace-alt"></i>
                  Thời trang
                </h4>
              </a>

              <div class="content-box-text">

                Hiện có 345 dự án về thời trang với tỉ lệ vốn đạt 70%, có 123 dự án được

                <div>
                  <a href="/discover/show" class=" btn btn-sm btn-discover">
                    <span>Xem thêm</span>
                  </a>
                </div>


              </div>

            </div>

          </div>
          <div class="col-md-3 col-sm-3">
            <div class="content-box content-style4 medium animated"
                 data-animtype="fadeIn"
                 data-animrepeat="0"
                 data-animspeed="1s"
                 data-animdelay="0.2s"
            >
              <a href="/discover/show">
                <h4 class="h4-body-title">
                  <i class="icon icon-camera-streamline-video"></i>
                  Quay phim
                </h4>
              </a>

              <div class="content-box-text">
                Hiện có 345 dự án về làm phim với tỉ lệ vốn đạt 70%, có 123 dự án được

                <div>
                  <a href="/discover/show" class=" btn btn-sm btn-discover">
                    <span>Xem thêm</span>
                  </a>
                </div>

              </div>

            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="content-box content-style4 medium animated"
                 data-animtype="fadeIn"
                 data-animrepeat="0"
                 data-animspeed="1s"
                 data-animdelay="0.2s"
            >
              <a href="/discover/show">
                <h4 class="h4-body-title">
                  <i class="icon icon-food"></i>
                  Ăn uống
                </h4>
              </a>

              <div class="content-box-text">
                Hiện có 345 dự án về nhà hàng với tỉ lệ vốn đạt 70%, có 123 dự án được

                <div>
                  <a href="/discover/show" class=" btn btn-sm btn-discover">
                    <span>Xem thêm</span>
                  </a>
                </div>

              </div>

            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="content-box content-style4 medium animated"
                 data-animtype="fadeIn"
                 data-animrepeat="0"
                 data-animspeed="1s"
                 data-animdelay="0.2s"
            >
              <a href="/discover/show">
                <h4 class="h4-body-title">
                  <i class="icon icon-truck"></i>
                  Du lịch
                </h4>
              </a>

              <div class="content-box-text">
                Hiện có 345 dự án về du lịch với tỉ lệ vốn đạt 70%, có 123 dự án được

                <div>
                  <a href="/discover/show" class=" btn btn-sm btn-discover">
                    <span>Xem thêm</span>
                  </a>
                </div>

              </div>

            </div>
          </div>


          <div class="col-md-3 col-sm-3">

            <div class="content-box content-style4 medium animated"
                 data-animtype="fadeIn"
                 data-animrepeat="0"
                 data-animspeed="1s"
                 data-animdelay="0.2s"
            >
              <a href="/discover/show">
                <h4 class="h4-body-title">
                  <i class="icon icon-ipod-mini-music-streamline"></i>
                  Trò chơi
                </h4>
              </a>

              <div class="content-box-text">

                Hiện có 345 dự án về trò chơi với tỉ lệ vốn đạt 70%, có 123 dự án được

                <div>
                  <a href="/discover/show" class=" btn btn-sm btn-discover">
                    <span>Xem thêm</span>
                  </a>
                </div>


              </div>

            </div>

          </div>
          <div class="col-md-3 col-sm-3">
            <div class="content-box content-style4 medium animated"
                 data-animtype="fadeIn"
                 data-animrepeat="0"
                 data-animspeed="1s"
                 data-animdelay="0.2s"
            >
              <a href="/discover/show">
                <h4 class="h4-body-title">
                  <i class="icon icon-man-people-streamline-user"></i>
                  Cộng đồng
                </h4>
              </a>

              <div class="content-box-text">
                Hiện có 345 dự án về cộng đồng với tỉ lệ vốn đạt 70%, có 123 dự án được

                <div>
                  <a href="/discover/show" class=" btn btn-sm btn-discover">
                    <span>Xem thêm</span>
                  </a>
                </div>

              </div>

            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="content-box content-style4 medium animated"
                 data-animtype="fadeIn"
                 data-animrepeat="0"
                 data-animspeed="1s"
                 data-animdelay="0.2s"
            >
              <a href="/discover/show">
                <h4 class="h4-body-title">
                  <i class="icon icon-computer-macintosh-vintage"></i>
                  Công nghệ
                </h4>
              </a>

              <div class="content-box-text">
                Hiện có 345 dự án về công nghệ với tỉ lệ vốn đạt 70%, có 123 dự án được

                <div>
                  <a href="/discover/show" class=" btn btn-sm btn-discover">
                    <span>Xem thêm</span>
                  </a>
                </div>

              </div>

            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="content-box content-style4 medium animated"
                 data-animtype="fadeIn"
                 data-animrepeat="0"
                 data-animspeed="1s"
                 data-animdelay="0.2s"
            >
              <a href="/discover/show">
                <h4 class="h4-body-title">
                  <i class="icon icon-camera-photo-streamline"></i>
                  Nhiếp ảnh
                </h4>
              </a>

              <div class="content-box-text">
                Hiện có 345 dự án về nhiếp ảnh với tỉ lệ vốn đạt 70%, có 123 dự án được

                <div>
                  <a href="/discover/show" class=" btn btn-sm btn-discover">
                    <span>Xem thêm</span>
                  </a>
                </div>

              </div>

            </div>
          </div>


        </div>

      </div>

      <div class="section-content no-border">
        <div class="container">
          <div class="best-project clearfix">
            <div class="row">
            <div class="col-md-6 col-sm-6 animated " data-animtype="fadeInLeft"
                 data-animrepeat="0"
                 data-speed="1s"
                 data-delay="0.4s">
              <div class=" center-text left-image-container">
                <img width="100%" src="<%= @projects.first.image.url(:listing) %>" alt="iPhone"/>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 animated discover-left-info" data-animtype="fadeInRight"
                 data-animrepeat="0"
                 data-speed="1s"
                 data-delay="0.4s">
              <div class="project-of-the-day">
                <br/>
                <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
                     data-animrepeat="0"
                     data-speed="1s"
                     data-delay="0.4s">
                  <h4 class="h2-section-title">Dự án của tháng</h4>

                  <div class="i-section-title ">
                    <i class="icon-star animated" data-animtype="flip" data-speed="0.5s" data-animrepeat="" data-delay="2s">
                    </i>
                  </div>
                </div>


                <h2 class=""><a href=""><%= @projects.first.title %></a></h2>

                <p class=""><%= @projects.first.short_description %></p>
                <br/>
                <br/>
                <div class="project-status discover-progress">

                  <div class="progress">
                    <div class="progress-bar animated" role="progressbar" aria-valuenow="70%"
                         aria-valuemin="0" aria-valuemax="100"
                         data-animtype="animate-progress"
                         data-animrepeat="0">
                    </div>
                  </div>
                  <p><span class="fa fa-map-marker"></span>&nbsp;Bình dương&nbsp;&nbsp;
                    <span class="fa fa-user"></span>&nbsp;42 Người góp&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="fa fa-money"></span>&nbsp;18,000,000/20,000,000 đồng&nbsp;&nbsp;

                  </p>
                </div>
              </div>
            </div>
              </div>
          </div>
        </div>
        <div class="space-sep20"></div>
        <div class='container best-project no-border no-shadow bg-transparent '>
          <div class="space-sep20"></div>

          <div class="title-block clearfix">
            <h3 class="h3-body-title">Dự án nổi bật</h3>

            <div class="title-seperator"></div>
          </div>

          <div id="top-projects">
            <div class="row">
              <% @projects.each do |project| %>
                  <div class="col-md-4 col-sm-4">
                    <div class="feature project animated project-block" data-animtype="fadeInUp" data-animrepeat="0" data-animspeed="1s" data-animdelay="0.4s">
                      <%= link_to(project) do %>
                          <div class="feature-image img-overlay">
                            <%= image_tag project.image.url(:listing) %>
                          </div>
                      <% end %>
                      <div class="feature-content">
                        <div class="project-info">
                          <%= link_to(project) do %>
                              <h6 class="project-title">
                                <%= project.title %>
                              </h6>
                          <% end %>
                          <p>
                            <%= project.short_description %>
                          </p>
                        </div>

                        <div class="project-status">
                          <p><span class="fa fa-map-marker"></span>&nbsp;<%= project.location %></p>

                          <div class="progress">
                            <div class="progress-bar animated" role="progressbar" aria-valuenow="<%= project.pledges.sum(:pledge_amount)*100 %>%"
                                 aria-valuemin="0" aria-valuemax="100"
                                 data-animtype="animate-progress"
                                 data-animrepeat="0">
                            </div>
                          </div>
                          <ul class="project-stats">

                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>



