<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:page_title) %></title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <link rel="stylesheet" href="/css/axfont.css">
  <link rel="stylesheet" href="/css/prettyPhoto.css">
  <link rel="stylesheet" href="/css/animate.css">

  <link href='/css/style.css' rel='stylesheet' type='text/css'>
  <link href='/css/responsive.css' rel='stylesheet' type='text/css'>

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600,700,800,400&amp;subset=latin,vietnamese,cyrillic" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,vietnamese,latin-ext,cyrillic-ext,cyrillic,greek-ext,greek' rel='stylesheet' type='text/css'>

  <%= yield(:styles) %>
  <%= yield(:top_scripts) %>

  <%= csrf_meta_tags %>

</head>

<body id="<%= yield(:body_id) %>" <%= yield(:body_attributes) %> >
<div id="wrapper">
  <%= render "shared/menu" %>
  <!-- //Header// -->


  <%= yield %>

  <div id='wrapper'>
    <div class="loading-container">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>

  </div>

  <footer></footer>
</div>
<%= javascript_include_tag 'application' %>

<script src="/js/activeaxon_menu.js" type="text/javascript"></script>
<script src="/js/animationEnigne.js" type="text/javascript"></script>
<script src="/js/ie-fixes.js" type="text/javascript"></script>
<script src="/js/jquery.infinitescroll.js" type="text/javascript"></script>
<script src="/js/jquery.prettyPhoto.js" type="text/javascript"></script>
<script src="/js/jQuery.XDomainRequest.js" type="text/javascript"></script>
<script src="/js/kanzi.js" type="text/javascript"></script>
<script src="/js/retina.js" type="text/javascript"></script>

<%= yield(:bottom_scripts) %>

</body>
</html>
