<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:page_title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="top_wrapper">
    			<div class="top-bar">
    				<div class="container">
    					<div class="row">
    						<div class="col-xs-2 logo">
    							<a href="index.html">
    								<img src="images/main_logo.png" alt="Kanzi HTML5 Template"/>
    							</a>
    						</div>
    						<div class="col-sm-5">

    							<div class="call-us top-bar-block">
    								<i class="icon-phone"></i>
    								<span>
    									Call us at 1- 888 - 999
    								</span>
    							</div>
    							<div class="mail-us top-bar-block">
    								<i class="icon-email"></i>                            
    								<span>
    									E-mail: info@example.com
    								</span>                            
    							</div>

    						</div>
    						<div class="col-sm-5">

    							<!-- Search Box -->
    							<div class="searchbox">
    								<form action="#" method="get">
    									<input type="text" class="searchbox-inputtext" id="searchbox-inputtext" name="s" placeholder="Search.."/>
    									<label class="searchbox-icon" for="searchbox-inputtext"></label>
    									<input type="submit" class="searchbox-submit" value="Search"/>
    								</form>
    							</div>
    							<!-- //Search Box// -->
    							<div class="social-icons">
    								<ul>
    									<li>
    										<a href="#" target="_blank" class="social-media-icon facebook-icon" data-original-title="facebook">facebook</a>
    									</li>
    									<li>
    										<a href="#" target="_blank" class="social-media-icon twitter-icon" data-original-title="twitter">twitter</a>
    									</li>
    									<li>
    										<a href="#" target="_blank" class="social-media-icon googleplus-icon" data-original-title="googleplus">googleplus</a>
    									</li>
    									<li>
    										<a href="#" target="_blank" class="social-media-icon pininterest-icon" data-original-title="pininterest">pininterest</a>
    									</li>
    									<li>
    										<a href="#" target="_blank" class="social-media-icon dribble-icon" data-original-title="dribble">dribble</a>
    									</li>
    								</ul>

    							</div>
    						</div>
    					</div>
    				</div>
    			</div>

    			<!-- Header -->
    			<header id="header">
    				<div class="container"></div>
    			</header>
    			<!-- //Header// --> 

         </div><!--.top wrapper end -->

<div id='wrapper'>

<%= yield %>
<footer>
	
        <div class="footer">

            <div class="container">
                <div class="footer-wrapper">
                    <div class="row">


                        <!-- Footer Col. -->
                        <div class="col-md-3 col-sm-3 footer-col">
                            <div class="footer-content">
                                <div class="footer-content-logo">
                                    <img src="images/main_logo.png" alt=""/>
                                </div>
                                <div class="footer-content-text">
                                    <p>Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget
                                        dolor.</p>
                                        <p>Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget
                                            dolor.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- //Footer Col.// -->


                                <!-- Footer Col. -->
                                <div class="col-md-3 col-sm-3 footer-col">
                                    <div class="footer-title">
                                        Recent Tweets
                                    </div>
                                    <div class="footer-content footer-recent-tweets-container">
                                        <ul class="tweetList footer-recent-tweets">
                                            <li class="tweet_content item">
                                                <p>Grab a copy of the popular Boomerang theme for $10 until its next release! </p>
                                                <p class="timestamp">2 days ago</p>
                                            </li>
                                            <li class="tweet_content item">
                                                <p>Newest Blog Awesome post: Stacking Text and Icons <a href="http://t.co/1qRP8K1wjG">Check it</a></p>
                                                <p class="timestamp">4 days ago</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- //Footer Col.// -->


                                <!-- Footer Col. -->
                                <div class="col-md-3 col-sm-3 footer-col">
                                    <div class="footer-title">
                                        Links
                                    </div>
                                    <div class="footer-content">
                                        <ul class="footer-category-list">
                                            <li>
                                                <a href="#">Lorem Ipsum</a>
                                            </li>
                                            <li>
                                                <a href="#">Dolor Sit Amet</a>
                                            </li>
                                            <li>
                                                <a href="#">Nullam dignissim</a>
                                            </li>
                                            <li>
                                                <a href="#">Lorem Ipsum</a>
                                            </li>
                                            <li>
                                                <a href="#">Lorem Ipsum</a>
                                            </li>
                                            <li>
                                                <a href="#">Dolor Sit Amet</a>
                                            </li>
                                            <li>
                                                <a href="#">Dolor Sit Amet</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- //Footer Col.// -->


                                <!-- Footer Col. -->
                                <div class="col-md-3 col-sm-3 footer-col">
                                    <div class="footer-title">
                                        Photostream
                                    </div>
                                    <div class="footer-content">
                                        <div class="flickr_badge_wrapper">
                                            <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;display=latest&amp;size=s&amp;layout=x&amp;source=all_tag&amp;tag=Sky,scrappers" id="flicker-images"></script>                            
                                        </div>
                                        <!-- //Footer Col.// -->

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="copyright">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 center-text">
                                    <div class="copyright-text">&copy; 2013 Kanzi Theme | Theme Developed By <a href="http://www.activeaxon.com/" target="_blank">ActiveAxon</a></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            
</footer>
</div>
<script>
    $(document).ready(function($) {
            // Create a clone of the menu, right next to original.
            $('.menu').addClass('original').clone().insertAfter('.menu').addClass('cloned').css('position','fixed').css('top','0').css('margin-top','0').css('z-index','500').removeClass('original').hide();

            scrollIntervalID = setInterval(stickIt, 10);


            function stickIt() {

              var orgElementPos = $('.original').offset();
              orgElementTop = orgElementPos.top;               

              if ($(window).scrollTop() >= (orgElementTop)) {
    // scrolled past the original position; now only show the cloned, sticky element.

    // Cloned element should always have same left position and width as original element.     
    orgElement = $('.original');
    coordsOrgElement = orgElement.offset();
    leftOrgElement = coordsOrgElement.left;  
    widthOrgElement = orgElement.css('width');
    $('.cloned').css('left',leftOrgElement+'px').css('top',0).css('width',widthOrgElement).show();
    $('.cloned').css('background-color', '#279fbb');
    $('.cloned').css('height', '40px');
    $('#buyer')
    $('.h4-body-title').css('color', 'white');
    $('.cloned').css('padding-top', '10px');

    $('.original').css('visibility','hidden');
} else {
    // not scrolled past the menu; only show the original menu.
    $('.h4-body-title').css('color', 'black');
    $('.cloned').hide();
    $('.original').css('visibility','visible');
}
}

});
</script>
</body>
</html>
